@{
    ViewData["Title"] = "Home Page";
}

<h1>Cookie Authentication Example</h1>
For login: <a asp-action="Login" asp-controller="Account">Login</a>
<br/>
Secured Page:<a asp-action="ListOfUsers" asp-controller="Account">Employee Page</a>